.tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 40vh;
    /* fuente */
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    /* variable color */
    --color-tabla: rgba(0, 170, 99, 0.7);
}

tbody {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0.5rem;
    gap: 0.5vh;
    font-optical-sizing: auto;

    tr {
        display: flex;
        justify-content: space-between;
        overflow-x: hidden;

        /* para todos los td */
        td {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 2px;
            text-align: center;
            margin: 0vh 0.2vw 0vh 0.2vw;
            padding: 0vh 0.1vw 0vh 0.1vw;
            background-color: var(--color-tabla);
            border: 1px solid rgba(0, 41, 24, 0.4);
            width: 7.5rem;
        }

        .td-tarea {
            width: 50vw;
            overflow: hidden;
            /* Oculta texto q no entra */
            text-overflow: ellipsis;
        }

        .td-prioridad-baja {
            animation: prioridad-baja 8s infinite;
        }

        .td-prioridad-media {
            animation: prioridad-media 5s infinite;
        }

        .td-prioridad-alta {
            animation: prioridad-alta 2s infinite;
        }


        .td-btn {
            z-index: 1;
            width: max-content;
            background-color: transparent;
            border: transparent;

            .btn-eliminar {
                padding-left: 2vw;
                padding-right: 2vw;
                color: rgba(0, 0, 0, 0.71);
                font-size: x-large;
                border-radius: 6px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                transition: 0.6s;
                background-color: rgba(240, 0, 0, 0.65);
                background-image: linear-gradient(to left, rgba(40, 0, 0, 0.3) 0%, transparent 100%);
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
                color: rgba(0, 0, 0, 0.8);

                /* media queries */
                @media screen and (max-width: 500px) {
                    font-size: large;
                }

                @media screen and (max-width: 400px) {
                    font-size: medium;
                }

                &:hover {
                    background-color: rgba(188, 240, 0, 0.4);
                    background-image: linear-gradient(to left, rgba(0, 60, 2, 0.5) 10%, transparent 50%);
                    color: rgba(250, 235, 215, 0.8);
                    transition: 0.1s;
                }

            }
        }

        .td-detalle {
            opacity: 0;
            position: fixed;
            bottom: 8vh;
            left: -1px;
            border: transparent;
            width: 100%;
            padding: 3vh 0vh 3vh 0vh;
            color: antiquewhite;
            box-shadow: 0px 0px 15px 30px black;
            background-color: rgb(0, 0, 0);
            transition: 0.1s;
        }
    }


    /* hover q muestra el detalle de la tarea */
    tr:hover {
        background-color: rgba(248, 250, 119, 0.30);
        box-shadow: 0px 0px 4px 4px rgba(248, 250, 119, 0.28);
        transition: 0.2s;
    }

    tr:hover .td-detalle {
        opacity: 1;
        z-index: 1;
        transition: 0.3s;
    }

    tr:hover .td-btn {
        background-color: none;
        box-shadow: none;
        z-index: 1;
    }


}

/* texto qeu sale cuando no hay nada enla lista */
.texto-lista-tabla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;

    text-align: center;
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(100, 0, 0) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.5) 70%, rgb(100, 0, 0) 90%, rgb(0, 0, 0) 100%);
    /* fuente */
    font-family: "Agdasima", sans-serif;
    font-weight: 600;
    font-style: normal;

    .spinner {
        position: relative;
        width: 1.2rem;
        height: 1.2rem;
        margin-top: 1vh;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-top: 5px solid rgba(0, 0, 0, 0.8);
        border-bottom: 5px solid rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

/* spin que aparece cuando no hay tareas */
@keyframes spin {
    0% {
        transform: rotate(30deg);
    }

    30% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1deg);
    }

    60% {
        transform: rotate(150deg);
    }

    90% {
        transform: rotate(340deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* animacion btn q tiene prioridad baja (verde) */
@keyframes prioridad-baja {
    0% {
        border: solid 1px rgba(0, 0, 0, 0.2);
        background-color: transparent;
    }

    50% {
        background-color: rgba(0, 180, 0, 0.3);
        border: solid 1px rgba(0, 0, 0, 0.1);
    }

    100% {
        border: solid 1px rgba(0, 0, 0, 0.2);
        background-color: transparent;
    }

}

/* animacion btn q tiene prioridad media (amarilla) */
@keyframes prioridad-media {
    0% {
        background-color: rgba(200, 200, 0, 0.3);
        border: solid 1px rgba(0, 0, 0, 0.3);
    }

    50% {
        background-color: rgb(200, 200, 0, 0.5);
        border: solid 1px rgba(0, 0, 0, 0.5);
    }

    100% {
        background-color: rgba(200, 200, 0, 0.3);
        border: solid 1px rgba(0, 0, 0, 0.3);
    }

}

/* animacion btn q tiene prioridad alta (alta) */
@keyframes prioridad-alta {
    0% {
        background-color: rgba(230, 0, 0, 0.4);
        border: solid 1px rgba(0, 0, 0, 0.2);
    }

    50% {
        background-color: rgba(240, 0, 0, 0.6);
        border: solid 1px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 30px 2px rgba(230, 0, 0, 0.4);
    }

    100% {
        background-color: rgba(230, 0, 0, 0.4);
        border: solid 1px rgba(0, 0, 0, 0.2);
    }

}